.loseImage {
  width: 300px;
}
.looseContainer {
  display: flex;
  border-radius: 20px;
  background-color: #9796f0;
  padding: 20px;
  border: 1px solid #ffffff33;
  width: 80%;
  justify-content: space-around;
}
.LoseHeading {
  font-family: 'roboto';
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 30px;
}
.scoreParagraph {
  font-family: 'roboto';
  font-size: 20px;
  color: #ffffff;
  margin: 10px;
}
.scoreText {
  font-family: 'roboto';
  font-size: 30px;
  color: #ffffff;
  margin: 10px;
  font-weight: bold;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PlayAgainButton {
  background-color: #ffce27;
  color: #3d3d3d;
  font-weight: bold;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
  margin: 10px;
}

@media (max-width: 767px) {
  .looseContainer {
    flex-direction: column;
  }
  .loseImage {
    order: -1;
  }
}
